.waterMarkBase {
  content: 'concent-pro';
  position: absolute;
  z-index: 999;
  display: block;
  font-size: 20px;
  color: var(--theme-color-light);
  font-weight: bold;
  transform: rotate(-45deg);
  opacity: .2;
  pointer-events: none;
}

.wm1:after {
  composes: waterMarkBase;
  bottom: 30%;
  left: 20%;
}

.wm2:after {
  composes: waterMarkBase;
  bottom: 30%;
  left: 50%;
}

.wm3:after {
  composes: waterMarkBase;
  bottom: 30%;
  left: 80%;
}

.wm4:after {
  composes: waterMarkBase;
  bottom: 60%;
  left: 20%;
}

.wm5:after {
  composes: waterMarkBase;
  bottom: 60%;
  left: 50%;
}

.wm6:after {
  composes: waterMarkBase;
  bottom: 60%;
  left: 80%;
}
