.header {
  z-index: 88;
  position: relative;
  box-shadow: rgb(0 21 41 / 8%) 0px 1px 4px;
  height: 48px;
  line-height: 48px;
  padding: 0 19px 0 0;
}

.headerSetting {
  position: absolute;
  right: 8px;
  top: 3px;
  font-size: 19px;
  height: 48px;
  line-height: 48px;
}

.headerSettingInBar {
  font-size: 19px;
  height: 38px;
  line-height: 38px;
  z-index: 999;
  position: absolute;
  right: 5px;
  top: 1px;
}

.userIconWrap {
  position: absolute;
  min-width: 100px;
  right: 52px;
  font-size: 15px;
  height: 40px;
  top: 0;
}


.headerSetting:hover {
  cursor: pointer;
}

.siderWrap {
  position: fixed;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 10;
  box-shadow: rgb(0 21 41 / 8%) 0px 1px 4px;
}

.siderMenusWrap {
  height: calc(100vh - 80px);
  overflow-y: auto;
  overflow-x: hidden;
}

.contentWrap {
  position: relative;
  background: #fff;
  /* background: blue; */
  padding: 24px;
  margin: 0;
  min-height: calc(100vh - 152px);
}

.SwatchesPicker {
  width: 450px !important;
}

.logoWrap {
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%
}
